body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color:orange;
}
.flexible-container{
    display:flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.half-width img{
    width:75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(pink,orange);
    padding: 5px;
    border-radius: 5px;
    color:royalblue;
    font-weight: 700;

}
.background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.secondpart{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin:0;
    margin-top: 5%;

}
.side{
    padding-right: 10%;

}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 5px;

}
.head{
    text-align: center;
}
.Experiences-item{
    box-shadow: 10px 10px 40px gray;
    width:30%;
    margin:5%;
    padding:3%;
    border-radius:10px;
}
#married{
     border-left: 9px solid;
     border-image:linear-gradient(rgb(231, 101, 49),rgb(212, 208, 203));
     border-image-slice: 1;
}
#Businessman{
    border-left: 9px solid;
    border-image:linear-gradient(rgb(238, 15, 15),rgb(51, 27, 27));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}