body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.orange{
    color:orange;
}
section{
    display:flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.half-width img{
    width:75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(pink,orange);
    padding: 5px;
    border-radius: 5px;
    color:royalblue;
    font-weight: 700;

}
#background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#secondpart{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin:0;
    margin-top: 5%;

}
.side{
    padding-right: 10%;
}